<!-- Default Metadata -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self'; connect-src 'self' https://*; img-src 'self' https://*; media-src 'self' https://*;">
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes'>
<title ht-content='page.title,site.title'></title>
<meta name='description' ht-attrs='content:page.description,site.description' />
<meta name='author' ht-attrs='content:page.author.name,site.author.name' />
<meta ht-template='meta:site.metadata' ht-attrs='name:meta.name; property:meta.property; content:meta.content' />

<!-- Default Links -->
<link rel='icon' type='image/png' sizes="32x32" href='/favicon.png' ht-template='favicon:site.favicon,site.favicons' ht-attrs='rel:favicon.rel;href:favicon.href;sizes:favicon.sizes;type=favicon.type'>
<link rel='canonical' ht-attrs='href:page.canonical_url'>
<link ht-template='link:site.links' ht-attrs='rel:link.rel; href:link.href; sizes:link.sizes; type:link.type'>

<!-- Default Styles -->
<link rel='stylesheet' href='/css/reset.css' />
<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/css/chroma-base16-snazzy.css' />

<!-- Default Scripts -->
<script src='/js/main.js' defer></script>
